html {font-size: 16px;}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font-family: $font;
	font-style: normal;
	font-weight: 400;
	line-height: 1.44;
	color: $fontcolor;
	background:#fff;
}

.h {
	font-family: $font;
	font-style: normal;
	font-weight: 700;
	line-height: 1.25;
	color: $accentcolor;
    letter-spacing: -0.0125rem;
	margin-bottom: 0.625em;
}	
h1 {@extend .h; font-size: 3rem;}
h2 {@extend .h; font-size: 2.5rem;}
h3 {@extend .h; font-size: 2rem;}
h4 {@extend .h; font-size: 1.5rem;}
h5 {@extend .h; font-size: 1.4rem;}
h6 {@extend .h; font-size: 1.2rem;}

a { outline: none !important; 
	&:hover { outline: none !important; }
}

p {
	font-family: $font;
	font-style: normal;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 1.44;
	color: $fontcolor;
	margin-bottom: 1.5em;
    letter-spacing: -0.0125rem;
}


/* ----------------------------- MEDIA --------------------------------------- */

@media (max-width: 576px){
	html {font-size: 14px;}
}